.example-spacer {
  flex: 1 1 auto;
}
table {
  width: 100%;
}
.filter{
width: 100%;
}
.campo{
  width: 95%;
  margin: auto;
}
.btn-acao{
  margin: 5px;
}
.img-perfil{
  width: 80px;
}
.nome-funcionario{
  color: #3F51B5;
  font-weight: 500;
  font-size: 1.2em;
}
.email-funcionario{
  color: rgb(134, 129, 129);
  font-size: 0.8em;
}
.email-funcionario-icon{
  font-size: 1.5em;
}
